[Unit]
Description=LiveDoodle FastAPI Server
After=network.target

[Service]
User=karltkurtz
WorkingDirectory=/home/karltkurtz/livedoodle
ExecStart=/home/karltkurtz/livedoodle/venv/bin/uvicorn main:app --host 0.0.0.0 --port 8000 --proxy-headers
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
